@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=PT+Sans+Narrow&family=Pixelify+Sans:wght@400;500&display=swap');

html, body {
  font-family: 'Inter', 'Pixelify Sans', 'PT Sans Narrow', sans-serif;
  background-color: #fff8ec;
  margin: 2rem 5rem;
}

header{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}
a{
  color: black;
  background: white;
  text-decoration: none;
  border: 2px solid black ;
  border-radius: 10px;
  padding: 0.2rem;
}
a:hover{
  color: white;
  background-color: black;
}